{% extends "global/base.html" %}

{% block content %}

    <div class="container">

        <div class="home-title center">
            <h1>All PRODUCTS</h1>
        </div>
        
        <div class="row">
            {% for product, price in all_products %}
                <div class="col-md-4">

                    <a href="{% url "products:product_detail" product.id %}">
                        <div class="card mb-4 card-color"> 
                            <img src="{{ product.image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2 class="card-title">{{ product.title }}</h2>
                                <h3 class="card-text">€{{ price }}</h3>
                            </div>
                        </div>
                    </a>
                    
                </div>
        
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
            
    </div>

{% endblock content %}
