<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url "products:home" %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/category/electronics/' %}active{% endif %}" href="{% url "products:electronics" %}">Electronics</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/category/jeweleries/' %}active{% endif %}" href="{% url "products:jeweleries" %}">Jewelery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/category/men_clothing/' %}active{% endif %}" href="{% url "products:men_clothing" %}">Men's Clothing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/category/women_clothing/' %}active{% endif %}" href="{% url "products:women_clothing" %}">Women's Clothing</a>
                    </li>
                {% else  %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url "register_users:register" %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url "products:home" %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>